@model IEnumerable<FCTGestion.Models.Empresa>

@{
    ViewData["Title"] = "Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empresas</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Nueva Empresa</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Teléfono</th>
            <th class="text-center">Dirección</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empresa in Model)
        {
            <tr>
                <td class="text-center">@empresa.Nombre</td>
                <td class="text-center">@empresa.Telefono</td>
                <td class="text-center">@empresa.Direccion</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@empresa.Id" class="btn btn-sm btn-warning m-1">Editar</a>
                    <a asp-action="Details" asp-route-id="@empresa.Id" class="btn btn-sm btn-info m-1">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@empresa.Id" class="btn btn-sm btn-danger m-1">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-start mb-4 mt-3">
    <a asp-area="Admin" asp-controller="PanelAdmin" asp-action="Index" class="btn btn-outline-primary">
        🔙 Volver al Panel 
    </a>
    </div>
