@model IEnumerable<FCTGestion.Models.TutorCentro>

@{
    ViewData["Title"] = "Tutores Centro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["MensajeCrearTutoresCentro"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="alertaTemporal">
        @TempData["MensajeCrearTutoresCentro"]
    </div>
}
<h2>@ViewData["Title"]</h2>

<a asp-action="Create" class="btn btn-success mb-3">➕ Crear Nuevo Tutor</a>

<table class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Correo Electronico</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tutor in Model)
        {
            <tr>
                <td class="text-center">@tutor.Nombre</td>
                <td class="text-center">@tutor.Correo</td>
                <td class="text-center">
                    <div class="d-flex justify-content-center gap-2">
                        <a asp-action="Edit" asp-route-id="@tutor.Id" class="btn btn-sm btn-warning">Editar</a>

                        <form asp-action="Delete" method="post" asp-route-id="@tutor.Id" onsubmit="return confirm('¿Seguro que quieres eliminar este tutor?');">
                            <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                        </form>
                    </div>
                </td>

            </tr>
        }
    </tbody>
   
</table>
<div class="text-start mb-4 mt-3">
    <a asp-area="Admin" asp-controller="PanelAdmin" asp-action="Index" class="btn btn-outline-primary">
        🔙 Volver al Panel
    </a>
</div>
<script src="~/js/desvanecerAlerta.js"></script>

