@model IEnumerable<FCTGestion.Models.TareaDiaria>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Listado de Tareas Diarias";
}

<h1 class="mb-4">Listado de Registro de Dias</h1>

<a asp-area="TutorCentro" asp-controller="Alumnos" asp-action="Create" class="btn btn-success mb-3">
    ➕ Añadir Registro
</a>

<input type="text" id="buscadorAlumnos" class="form-control mb-3" placeholder="Buscar alumno..." />

<table id="tablaAlumnos" class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Descipcion</th>
            <th>Horas</th>
            <th>Estado</th>
            <th>Fecha Validacion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Tarea in Model)
        {
            <tr>
                <td>@Tarea.Alumno.Nombre</td>
                <td>@Tarea.Fecha</td>
                <td>@Tarea.Descripcion</td>
                <td>@Tarea.Horas</td>
                <td>@Tarea.Estado</td>
                <td>@Tarea.FechaValidacion</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        document.getElementById('buscadorAlumnos').addEventListener('input', function () {
            const filtro = this.value.toLowerCase();
            const filas = document.querySelectorAll('#tablaAlumnos tbody tr');

            filas.forEach(fila => {
                const textoFila = fila.textContent.toLowerCase();
                fila.style.display = textoFila.includes(filtro) ? '' : 'none';
            });
        });
    </script>
}
>