@page
@model IndexModel
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Mi perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">

        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input class="form-control" value="@(Model.Username?.Replace("_", " "))" placeholder="Nombre de usuario" disabled />
                <label class="form-label">Nombre de usuario</label>
            </div>


            @if (!string.IsNullOrWhiteSpace(Model.Input?.PhoneNumber))
            {
                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Introduce tu número de teléfono" />
                    <label asp-for="Input.PhoneNumber" class="form-label">Número de teléfono</label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(@User.FindFirst("email")?.Value))
            {
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" value="@User.FindFirst("email")?.Value" disabled />
                    <label class="form-label">Correo electrónico</label>
                </div>
            }
          

            <div class="form-floating mb-3">
                @{
                    var roles = await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User));
                    var rol = roles.FirstOrDefault() ?? "Sin rol";
                }
                <input type="text" class="form-control" value="@rol" disabled />
                <label class="form-label">Rol asignado</label>
            </div>

        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
